.login__form__container{
    height: 100vh;
    .form__title{
        font-size: 36px;
    }
    .google__auth__btn{
        margin: 20px 0px;
        width: 100%;
        height: 50px;
        border-radius: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap:15px;
        svg{
            width: 25px;
        }
    }
    .form__options{
        display: flex;
        justify-content: space-between;
    }
}