@import "./variable.scss";
@import "./customization.scss";

body{
    margin: 0;
    background-color: $background;
}
//Texts
.text{
    &.large{
        font-size: 24px;
    }
    &.medium{
        font-size: 20px;
    }
    &.small{
        font-size: 14px;
    }
    &.x-small{
        font-size: 10px;
    }
    &.bold{
        font-weight: 700;
    }
    &.medium-bold{
        font-weight: 600;
    }
    &.light{
        font-weight: 300;
    }
    &.light-blue{
        color: $light-blue;
    }
    &.light-green{
        color: $light-green;
    }
    &.dark-black{
        color: $dark-black;
    }
    &.orange{
        color: $light-orange;
    }
    &.grey{
        color: $light-grey;
    }
    &.white{
        color: $dim-white;
    }
}

.box{
    padding: 20px 30px;
    &.shadow{
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    }
    &.rounded{
    border-radius: 10px;
    }
    &.dim-white{
    background: $dim-white;

    }
}